<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.YcTravelManageSystem.order.mapper.OrderMapper">

    <insert id="insertReal" parameterType="com.yt.YcTravelManageSystem.order.entity.RealOrderEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO real_order (
        <trim suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="businessId != null">business_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="tel != null and tel != ''">tel,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="num != null">num,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="stagingStatus != null and stagingStatus != ''">staging_status,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="reservationTime != null">reservation_time,</if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="tel != null and tel != ''">#{tel},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="num != null">#{num},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="stagingStatus != null and stagingStatus != ''">#{stagingStatus},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="reservationTime != null">#{reservationTime},</if>
        </trim>
        )
    </insert>

    <select id="selectRealByPage" parameterType="com.yt.YcTravelManageSystem.order.entity.dto.OrderPageDto" resultType="com.yt.YcTravelManageSystem.order.entity.RealOrderEntity">
        SELECT
        id, create_by, create_time, update_by, update_time, remark,
        business_id, user_id, tel, real_name, order_code, unit_price, total_price, num, type, status, staging_status, image, pay_type, reservation_time
        FROM real_order
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
        <if test="orderCode != null and orderCode != ''">
            AND order_code = #{orderCode}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="tel != null and tel != ''">
            AND tel = #{tel}
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND update_by = #{updateBy}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getRealTotalCount">
        SELECT COUNT(*) FROM real_order
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
    </select>

    <select id="selectRealById">
        SELECT * FROM real_order
        WHERE 1=1
        AND id = #{id}
    </select>

    <select id="selectBackById">
        SELECT * FROM back_order
        WHERE 1=1
          AND id = #{id}
    </select>

    <update id="updateReal" parameterType="com.yt.YcTravelManageSystem.order.entity.RealOrderEntity">
        UPDATE real_order
        <set>
            <trim suffixOverrides=",">
                <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
                <if test="remark != null and remark != ''">remark = #{remark},</if>
                <if test="businessId != null">business_id = #{businessId},</if>
                <if test="userId != null">user_id = #{userId},</if>
                <if test="tel != null and tel != ''">tel = #{tel},</if>
                <if test="realName != null and realName != ''">real_name = #{realName},</if>
                <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
                <if test="unitPrice != null">unit_price = #{unitPrice},</if>
                <if test="totalPrice != null">total_price = #{totalPrice},</if>
                <if test="num != null">num = #{num},</if>
                <if test="type != null and type != ''">type = #{type},</if>
                <if test="status != null and status != ''">status = #{status},</if>
                <if test="stagingStatus != null and stagingStatus != ''">staging_status = #{stagingStatus},</if>
                <if test="image != null and image != ''">image = #{image},</if>
                <if test="payType != null and payType != ''">pay_type = #{payType},</if>
                <if test="reservationTime != null">reservation_time = #{reservationTime},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateBack" parameterType="com.yt.YcTravelManageSystem.order.entity.BackOrderEntity">
        UPDATE back_order
        <set>
            <trim suffixOverrides=",">
                <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
                <if test="remark != null and remark != ''">remark = #{remark},</if>
                <if test="businessId != null">business_id = #{businessId},</if>
                <if test="userId != null">user_id = #{userId},</if>
                <if test="tel != null and tel != ''">tel = #{tel},</if>
                <if test="realName != null and realName != ''">real_name = #{realName},</if>
                <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
                <if test="unitPrice != null">unit_price = #{unitPrice},</if>
                <if test="totalPrice != null">total_price = #{totalPrice},</if>
                <if test="num != null">num = #{num},</if>
                <if test="type != null and type != ''">type = #{type},</if>
                <if test="status != null and status != ''">status = #{status},</if>
                <if test="stagingStatus != null and stagingStatus != ''">staging_status = #{stagingStatus},</if>
                <if test="image != null and image != ''">image = #{image},</if>
                <if test="payType != null and payType != ''">pay_type = #{payType},</if>
                <if test="reservationTime != null">reservation_time = #{reservationTime},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteRealById">
        DELETE FROM real_order
        WHERE 1=1
        AND id = #{id}
    </delete>

    <delete id="deleteBackById">
        DELETE FROM back_order
        WHERE 1=1
          AND id = #{id}
    </delete>

    <insert id="insertBack" parameterType="com.yt.YcTravelManageSystem.order.entity.BackOrderEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO back_order (
        <trim suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="businessId != null">business_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="tel != null and tel != ''">tel,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="num != null">num,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="stagingStatus != null and stagingStatus != ''">staging_status,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="reservationTime != null">reservation_time,</if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="tel != null and tel != ''">#{tel},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="num != null">#{num},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="stagingStatus != null and stagingStatus != ''">#{stagingStatus},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="reservationTime != null">#{reservationTime},</if>
        </trim>
        )
    </insert>

    <select id="getBackTotalCount">
        SELECT COUNT(*) FROM back_order
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
    </select>

    <select id="selectBackByPage" parameterType="com.yt.YcTravelManageSystem.order.entity.dto.OrderPageDto" resultType="com.yt.YcTravelManageSystem.order.entity.BackOrderEntity">
        SELECT
        id, create_by, create_time, update_by, update_time, remark,
        business_id, user_id, tel, real_name, order_code, unit_price, total_price, num, type, status, staging_status, image, pay_type, reservation_time
        FROM back_order
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
        <if test="orderCode != null and orderCode != ''">
            AND order_code = #{orderCode}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="tel != null and tel != ''">
            AND tel = #{tel}
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND update_by = #{updateBy}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectByTypeAndCreateTimeAfter" resultType="com.yt.YcTravelManageSystem.order.entity.RealOrderEntity">
        SELECT
            id, create_by, create_time, update_by, update_time, remark,
            business_id, user_id, tel, real_name, order_code, unit_price, total_price, num, type, status, staging_status, image, pay_type, reservation_time
        FROM real_order
        WHERE 1=1
          AND type = #{type}
          AND create_time >= #{createTimeAfter}
    </select>

    <select id="findAllReal" resultType="com.yt.YcTravelManageSystem.order.entity.RealOrderEntity">
        SELECT
            id, create_by, create_time, update_by, update_time, remark,
            business_id, user_id, tel, real_name, order_code, unit_price, total_price, num, type, status, staging_status, image, pay_type, reservation_time
        FROM real_order
        WHERE 1=1
    </select>

</mapper>
