<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.YcTravelManageSystem.touristGuide.mapper.TouristGuideCarouselImageMapper">

    <insert id="insert" parameterType="com.yt.YcTravelManageSystem.touristGuide.entity.TouristGuideCarouselImageEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tourist_guide_carousel_image (
        <trim suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="businessId != null and businessId != ''">business_id,</if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="businessId != null and businessId != ''">#{businessId},</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.yt.YcTravelManageSystem.touristGuide.entity.TouristGuideCarouselImageEntity">
        UPDATE tourist_guide_carousel_image
        <set>
            <trim suffixOverrides=",">
                <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
                <if test="remark != null and remark != ''">remark = #{remark},</if>
                <if test="url != null and url != ''">url = #{url},</if>
                <if test="businessId != null and businessId != ''">business_id = #{businessId},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tourist_guide_carousel_image
        WHERE id = #{id}
    </delete>

    <select id="getTotalCount">
        SELECT COUNT(*) FROM tourist_guide_carousel_image
    </select>

    <select id="selectByPage" parameterType="com.yt.YcTravelManageSystem.touristGuide.entity.dto.TouristGuideCarouselImagePageDto" resultType="com.yt.YcTravelManageSystem.touristGuide.entity.TouristGuideCarouselImageEntity">
        SELECT
        id, create_by, create_time, update_by, update_time, remark,
        url, business_id
        FROM tourist_guide_carousel_image
        WHERE 1=1
        <if test="businessId != null and businessId != ''">
            AND business_id = #{businessId}
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND update_by = #{updateBy}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectByBusinessId" parameterType="com.yt.YcTravelManageSystem.touristGuide.entity.dto.TouristGuideCarouselImagePageDto" resultType="com.yt.YcTravelManageSystem.touristGuide.entity.TouristGuideCarouselImageEntity">
        SELECT
        id, create_by, create_time, update_by, update_time, remark,
        url, business_id
        FROM tourist_guide_carousel_image
        WHERE 1=1
        <if test="businessId != null and businessId != ''">
            AND business_id = #{businessId}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
